@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('/public/fonts/BookishTrial-Book.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('/public/fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('/public/fonts/HelveticaNeue-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Regular';
  src: url('/public/fonts/HelveticaNeue-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
  